{% extends 'main/base.html' %}
{% block title %}Главная{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1 class="t">Уроки</h1>
        {% for post in posts %}
            <a class="aaa" href="{{ post.get_absolute_url }}">
                <div class="posts">
                    <div class="text_post">
                        <h3>{{post.title}}</h3>
                            {{ post.body|truncatewords:30 }}
                        <div class="date">
                            Обупликовано в {{ post.publish }} от автора {{ post.author }}
                        </div>

                    </div>

                    <img class="images" src="{{ MEDIA_URL }}{{ post.image.url }}">
                    
                    
                </div>
            </a>
        {% endfor %}
        {% include "main/pagination.html" with page=page_obj %}
    {% else %}
    <div class="register-container">
        <h3 class="while_color">Войдите в систему что-бы получить доступ к контенту</h3>
    </div>

    {% endif %}

    
{% endblock content %}